  /* Base Color: 2b3e51 */
  /* Jumbotron: 1f315a  */

#header {
    color: #ffffff;
    background-color: #1f315a;
    text-align: center;
    border-radius: 10px;
}

.h1 {
    font-weight: bolder;
}

#searchParameters {
    border: 1px solid #2b3e51;
    border-radius: 10px;
    padding-bottom: 15px;
}

#topArticles {
    border: 1px solid #2b3e51;
    border-radius: 10px;
    padding-bottom: 15px;
}

.sectionHeader {
    color: #ffffff;
    background-color: #2b3e51;
    margin-left: -16px;
    margin-right: -15px;
    padding: 5px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;

}

#formDiv {
    margin: 5px;
}
.listEntry {
    background-color: lightgray;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 0 0 10px 0; 
}
.artNum{
    float: left;
    background-color: #1f315a;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    width: 5%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;

}

.artTitle{
    float: left;
    padding: 10px;
    width: 95%;
}

.artAuthor{
    clear:both;
    
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    color:darkgrey;
    text-align: center;
  } */

